{:kafka-bootstrap-servers "localhost:19092"
 :kafka-port "19092"
 :kafka-streams-state-dir "/tmp/kafka-streams-test"
 :replication-factor "1"
 ;; :schema-registry-host "localhost:18081"
 ;; :schema-registry-port "18081"
 :zookeeper-host "localhost:12181"
 :test-sleep-time "5000"
 ;; :db-host "localhost"
 ;; :db-name "payments_reconciler_test"
 ;; :db-username "postgres"
 ;; :db-password "postgres"
 ;; :db-port "5432"
 :application-server "localhost:9999"
 :reconciliation-window 5}
